{% extends "base.html" %}

{% block header %}
    <title>Записки питониста - Главная</title>
{% endblock %}

{% block navbar %}
    <li class="active"><a href="{{ SITE_ROOT_PREFIX }}index.html">Главная</a></li>
    <li><a href="{{ SITE_ROOT_PREFIX }}{{ CONTENT_DIR_NAME }}/index.html">База знаний</a></li>
{% endblock %}

{% block container %}
    <div class="row row-content">

        <div class="col-sm-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ SITE_ROOT_PREFIX }}static/images/avatar.png" width="100%">
                    </div>
                    <div class="col-sm-8">
                        <h1>Привет всем!</h1>
                        <p>
                            Меня зовут Алексей. Я python разработчик.
                            Мне, как и любому другому разработчику, нужно постоянно
                            развиваться, учиться новому. К сожалению, удержать в голове
                            все не получается. Для того чтобы решить эту проблему, я
                            начал создавать свою базу знаний. В ней я старался
                            максимально просто и подробно описать то, что меня
                            заинтересовало, чтобы в будущем иметь возможность
                            быстро освежить в памяти интересующие меня нюансы.
                            На данном сайте вы можете прочитать весь собранный
                            мной материал. Надеюсь, это будет полезно не только мне ;)
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center" id="contact-block">
                    <h2>Контакты</h2>
                    <a href="mailto:petrunnik.a@mail.ru">
                        <img class="contact-img" src="{{ SITE_ROOT_PREFIX }}static/images/email.png">
                    </a>
                    <a href="skype:alex85244">
                        <img class="contact-img" src="{{ SITE_ROOT_PREFIX }}static/images/skype.png">
                    </a>
                    <a href="https://www.linkedin.com/in/aleksey-petrunnik-5313a9126/">
                        <img class="contact-img" src="{{ SITE_ROOT_PREFIX }}static/images/linkedin.png">
                    </a>
                    <a href="https://github.com/aleksey925/">
                        <img class="contact-img" src="{{ SITE_ROOT_PREFIX }}static/images/github.png">
                    </a>
                    <a href="https://bitbucket.org/alex925/">
                        <img class="bitbiucket-img" src="{{ SITE_ROOT_PREFIX }}static/images/bitbucket.png">
                    </a>
                    <a href="https://gitlab.com/alex925/">
                        <img class="contact-img" src="{{ SITE_ROOT_PREFIX }}static/images/gitlab.png">
                    </a>
                </div>
            </div>

        </div>

    </div>
{% endblock %}