img {
    width: 100%;
}

table {
    margin: 1em 0;
    border: 1px solid black;
}

table th {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid black;
}

table td {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid black;
}