{% extends "base.html" %}

{% block header %}
    <title>IT Конспекты - Главная</title>
{% endblock %}

{% block navbar %}
    <li class="active"><a href="index.html">Главная</a></li>
    <li><a href="knowledge_base/index.html">Конспекты</a></li>
{% endblock %}

{% block container %}
    <div class="row row-offcanvas">

        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../static/images/avatar.png" width="100%">
                    </div>
                    <div class="col-sm-8">
                        <h1>Привет всем!</h1>
                        <p>
                            Меня зовут Алексей. Я python разработчик.
                            Мне, как и любому другому разработчику нужно постоянно
                            развиваться, учиться новому. Но к сожалению приходиться
                            работать с очень большими объемами информации, которые
                            сложно запомнить. Для того, чтобы решить эту проблему
                            я решил начать конспектировать все интересные вещи с
                            которыми мне довелось работать. На данном сайте вы
                            можете прочитать весь собранный мной материал.
                            Надеюсь это будет полезно не только мне)
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center" id="contact-block">
                    <h2>Контакты</h2>
                    <a href="mailto:petrunnik.a@mail.ru">
                        <img src="../static/images/email.png" width="5%">
                    </a>
                    <a href="skype:alex85244">
                        <img src="../static/images/skype.png" width="5%">
                    </a>
                    <a href="https://www.linkedin.com/in/aleksey-petrunnik-5313a9126/">
                        <img src="../static/images/linkedin.png" width="5%">
                    </a>
                    <a href="https://github.com/aleksey925/">
                        <img src="../static/images/github.png" width="5%">
                    </a>
                    <a href="https://bitbucket.org/alex925/">
                        <img src="../static/images/bitbucket.png" width="6%">
                    </a>
                </div>
            </div>

        </div><!--/.col-xs-12.col-sm-9-->

    </div><!--/row-->
{% endblock %}