{% extends "base.html" %}

{% block header %}
    <title>Записки питониста - База знаний</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_FILE_PREFIX_PATH }}static/css/knowledge-base.css">
{% endblock %}

{% block navbar %}
    <li><a href="{{ STATIC_FILE_PREFIX_PATH }}index.html">Главная</a></li>
    <li class="active"><a href="{{ STATIC_FILE_PREFIX_PATH }}knowledge_base/index.html">База знаний</a></li>
{% endblock %}

{% block container %}
    <div class="row row-offcanvas">

        <div class="col-xs-12 col-sm-12">
            {{ data }}
        </div><!--/.col-xs-12.col-sm-9-->

    </div><!--/row-->
{% endblock %}